<launch>

    <node
        pkg="image_transport"
        type="republish"
        name="image_decompress"
        output="screen"
        args="compressed in:=/aravis_cam/image_color raw out:=/aravis_cam/image_color_row"
    />

    <node
        pkg="ars548_driver"
        type="optimizer.py"
        name="optimizer"
        output="screen"
    />

    <node
        pkg="ars548_driver"
        type="radar_project.py"
        name="radar_project"
        output="screen"
    />

    <!-- <node
        pkg="ars548_driver"
        type="detector.py"
        name="detector"
        output="screen"
    /> -->

    <!-- 啟動rviz節點 -->
    <node 
        pkg="rviz" 
        type="rviz" 
        name="Visualization" 
        args="-d $(find ars548_driver)/rviz/replay.rviz"
    />

</launch>
